/* 
    General Styles
*/
body {
    background-image: url(https://www.xtrafondos.com/en/descargar.php?id=7439&vertical=1);
    background-repeat: none;
    background-size: cover;
}
h1 {
    color: white;
}