@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

body {
  /* background: rgb(37, 37, 37); */
  background: url('./background.jpg');
  background-size: 100%;
  color: white;
  font-family: 'Kanit', sans-serif;
  letter-spacing: 1px;
}

#logo-navbar {
  width: 100%;
  height: 40px;
  object-fit: contain;
}

.card {
  background: ghostwhite;
  color: black;
}

.card img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  object-position: top;
  filter: brightness(85%)
}

.card-img-top {
  padding: 20px;
}
.card:hover img {
  filter: brightness(100%)
}

.link-card {
  text-decoration: none;
}
.link-card:hover .card {
    color: #ff4f4f;
    /* text-shadow: 0 0 3px rgba(0, 0, 0, 0.5); */
}